#home {
    width: 100%;
    height: 75%;
    display: flex;
    line-height: 0.8;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-image: url("../media/code.jpg");
    background-repeat: no-repeat;
    background-position: center 100%;
    background-attachment: fixed;
}

#home h1 {
    font-size: 7vw;
    color: rgb(254, 135, 15);
    text-shadow: 0 0 5px rgba(222, 138, 54, 0.4);
<<<<<<< HEAD
    margin-bottom: 0;
}

#home h3 {
    font-size: 3vw;
    margin-top: 0;
}
=======
}

/* menu */
.navbar {
    position: fixed; 
    top: 50px; 
    right: 150px;
    width: 100%; 
   }

   /* links dentro do menu */
  .navbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }
  /* mouse hover do menu */
  .navbar a:hover {
    font-size: 20px;
    background: #ddd;
    color: black;
  }

 
>>>>>>> 462f596a6fae09bdd307d548eab4879b7b7248a8
